Lesson 1. Organizing Tabular Data in Python

Open your lab environment and navigate to 011-tabular-and-tidy-data.ipynb notebook.

Follow the instructions directly within the notebook

Task descriptions are embedded in the notebook itself

No need to use any "Check Activity" button

Lesson notebooks are for learning and are not graded

When working with this sort of tabular data, it's important to organize row and columns following the principles of "tidy data." What does that mean in the case of our dataset?

Each row corresponds to a single house in our dataset. We'll call each of these houses an observation.

Each column corresponds to a characteristic of each house. We'll call these features.

Each cell contains only one value.

In [1]:
# Declare variable `house_0_list`
house_0_list = [115910.26, 128, 4]

# Print object type of `house_0_list`
# (We'll learn more about object types in later projects ðŸ˜‰)
print("house_0_list type:", type(house_0_list))

# Print length of `house_0_list`
print("house_0_list length:", len(house_0_list))

# Get output of `house_0_list`
house_0_list

house_0_list type: <class 'list'>
house_0_list length: 3

[115910.26, 128, 4]

**Task 1.1.1: One metric that people in the real estate industry look at is price per square meter because it allows them to compare houses of different sizes.Can you use the information in this list to calculate the price per square meter for house_0?**

In [2]:
# Declare variable `house_0_price_m2`
house_0_price_m2 = [1552.45,128,4]

# Print object type of `house_0_price_m2`
print("house_0_price_m2 type:", type(house_0_price_m2))

# Get output of `house_0_price_m2`
house_0_price_m2

house_0_price_m2 type: <class 'list'>

[1552.45, 128, 4]

In [3]:
# Declare variable `house_0_price_m2`
house_0_price_m2 = house_0_list[0]/house_0_list[1]
# Print object type of `house_0_price_m2`
print("house_0_price_m2 type:", type(house_0_price_m2))

# Get output of `house_0_price_m2`
house_0_price_m2

house_0_price_m2 type: <class 'float'>

905.54890625

**Task 1.1.2: Next, use the append method to add the price per square meter to the end of the end of house_0.**

In [4]:
# Append price / sq. meter to `house_0_list`
house_0_list.append(house_0_price_m2)
# Print object type of `house_0_list`
print("house_0_list type:", type(house_0_list))

# Print length of `house_0_list`
print("house_0_list length:", len(house_0_list))

# Get output of `house_0_list`
house_0_list

house_0_list type: <class 'list'>
house_0_list length: 4

[115910.26, 128, 4, 905.54890625]

Now that you can work with data for a single house, let's think about how to organize the whole dataset. One option would be to create a list for each observation and then put those together in another list. This is called a nested list.

In [5]:
# Declare variable `houses_nested_list`
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

# Print `houses_nested_list` type
print("houses_nested_list type:", type(houses_nested_list))

# Print `houses_nested_list` length
print("houses_nested_list length:", len(houses_nested_list))

# Get output of `houses_nested_list`
houses_nested_list

houses_nested_list type: <class 'list'>
houses_nested_list length: 5

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0]]

**Task 1.1.3: Append the price per square meter to each observation in houses_nested_list using a for loop.**

In [8]:

# Create for loop to iterate through `houses_nested_list`
for house in  houses_nested_list:
    # For each observation, append price / sq. meter
    price_m2=house[0]/house[1]
    house.append(price_m2)
# Print `houses_nested_list` type
print("houses_nested_list type:", type(houses_nested_list))

# Print `houses_nested_list` length
print("houses_nested_list length:", len(houses_nested_list))

# Get output of `houses_nested_list`
houses_nested_list

houses_nested_list type: <class 'list'>
houses_nested_list length: 5

[[115910.26, 128.0, 4.0, 905.54890625, 905.54890625, 905.54890625],
 [48718.17,
  210.0,
  3.0,
  231.9912857142857,
  231.9912857142857,
  231.9912857142857],
 [28977.56,
  58.0,
  2.0,
  499.61310344827587,
  499.61310344827587,
  499.61310344827587],
 [36932.27,
  79.0,
  3.0,
  467.4970886075949,
  467.4970886075949,
  467.4970886075949],
 [83903.51,
  111.0,
  3.0,
  755.8874774774774,
  755.8874774774774,
  755.8874774774774]]

** working with dictionary**

Lists are a good way to organize data, but one drawback is that we can only represent values. Why is that a problem? For example, someone looking at [115910.26, 128.0, 4] wouldn't know which values corresponded to price, area, etc. A better option might be a dictionary, where each value is associated with a key. Here's what house_0 looks like as a dictionary instead of a list.

In [10]:
# Declare variable `house_0_dict`
house_0_dict = {
    "price_approx_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

# Print `house_0_dict` type
print("house_0_dict type:", type(house_0_dict))

# Get output of `house_0_dict`
house_0_dict

house_0_dict type: <class 'dict'>

{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

**Task 1.1.4: Calculate the price per square meter for house_0 and add it to the dictionary under the key "price_per_m2".**

In [11]:
# Add "price_per_m2" key-value pair to `house_0_dict`

house_0_dict["price_per_m2"] = house_0_dict["price_approx_usd"]  / house_0_dict["surface_covered_in_m2"]


# Get output of `house_0_dict`
house_0_dict

{'price_approx_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

If we wanted to combine all our observations together, the best way would be to create a list of dictionaries.

In [12]:
# Declare variable `houses_rowwise`
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

**Task 1.1.5: Using a for loop, calculate the price per square meter and store the result under a "price_per_m2" key for each observation in houses_rowwise.**

In [13]:
# Create for loop to iterate through `houses_rowwise`

    # For each observation, add "price_per_m2" key-value pair
for house in houses_rowwise:
    house["price_per_m2"] = house["price_approx_usd"] / house["surface_covered_in_m2"]


# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_approx_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_approx_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_approx_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_approx_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

**Task 1.1.6: To calculate the mean price for houses_rowwise by completing the code below.**

In [14]:
# Declare `house_prices` as empty list
house_prices = []

# Iterate through `houses_rowwise`

for house in houses_rowwise:

    # For each house, append "price_approx_usd" to `house_prices`
    house_prices.append(house["price_approx_usd"])
mean_house_price = sum(house_prices) / len(house_prices)
mean_house_price

# Calculate `mean_house_price` using `house_prices`
mean_house_price = sum(house_prices) / len(house_prices)

# Print `mean_house_price` object type
print("mean_house_price type:", type(mean_house_price))

# Get output of `mean_house_price`
mean_house_price

mean_house_price type: <class 'float'>

62888.35399999999

One way to make this sort of calculation easier is to organize our data by features instead of observations. We'll still use dictionaries and lists, but we'll implement them a slightly differently

In [15]:
# Declare variable `houses_columnwise`
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

One way to make this sort of calculation easier is to organize our data by features instead of observations. We'll still use dictionaries and lists, but we'll implement them a slightly differently.

In [16]:
# Declare variable `houses_columnwise`
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

**Task 1.1.7: Calculate the mean house price in houses_columnwise

Perform common aggregation tasks on a list in Python.**

In [17]:
# Calculate `mean_house_price` using `houses_columnwise`

mean_house_price = sum(houses_columnwise["price_approx_usd"]) / len(houses_columnwise["price_approx_usd"])



# Print `mean_house_price` object type
print("mean_house_price type:", type(mean_house_price))

# Get output of `mean_house_price`
mean_house_price

mean_house_price type: <class 'float'>

62888.35399999999

**Task 1.1.8: Create a "price_per_m2" column in houses_columnwise?**

In [18]:
# Add "price_per_m2" key-value pair for `houses_columnwise`

price = houses_columnwise["price_approx_usd"]
area = houses_columnwise["surface_covered_in_m2"]
price_per_m2 = []
for p, a in zip(price, area):
    price_m2 = p / a
    price_per_m2.append(price_m2)
houses_columnwise["price_per_m2"] = price_per_m2


# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}

While you've shown that you can wrangle data using lists and dictionaries, it's not as intuitive as working with, say, a spreadsheet. Fortunately, there are lots of libraries for Python that make it an even better tool for tabular data â€” way better than spreadsheet applications like Microsoft Excel or Google Sheets! One of the best known data science libraries is pandas, which allows you to organize data into DataFrames.

In [19]:
# Import pandas library, aliased as `pd`
import pandas as pd

# Declare variable `df_houses`
df_houses = pd.DataFrame(houses_columnwise)

# Print `df_houses` object type
print("df_houses type:", type(df_houses))

# Print `df_houses` shape
print("df_houses shape:", df_houses.shape)

# Get output of `df_houses`
df_houses

df_houses type: <class 'pandas.core.frame.DataFrame'>
df_houses shape: (5, 4)

   price_approx_usd  surface_covered_in_m2  rooms  price_per_m2
0         115910.26                  128.0    4.0    905.548906
1          48718.17                  210.0    3.0    231.991286
2          28977.56                   58.0    2.0    499.613103
3          36932.27                   79.0    3.0    467.497089
4          83903.51                  111.0    3.0    755.887477

Excellent work! You've mastered the concept of tabular data, understand the principles behind tidy data, and used lists and dictionaries to organize and augment our Mexico housing dataset. Next, we'll use these skills on the entire dataset â€” with over 150,000 observations â€” to better understand the real estate market in the country.

#lesson 2

**1. Preparing Mexico Data**

The first part of any data science project is preparing your data, which means making sure its in the right place and format for you to conduct your analysis. The first step of any data preparation is importing your raw data and cleaning it.

If you look in the small-data directory on your machine, you'll see that the data for this project comes in three CSV files: mexico-real-estate-1.csv, mexico-real-estate-2.csv, and mexico-real-estate-3.csv.

##Task 1.2.1: Read these three files into three separate DataFrames named df1, df2, and df3, respectively.

What's a DataFrame?

What's a CSV file?

Read a CSV file into a DataFrame using pandas.

In [ ]:
# Load CSV files into DataFrames
df1 = pd.read_csv("data/mexico-real-estate-1.csv")
df2 = pd.read_csv("data/mexico-real-estate-2.csv")
df3 = pd.read_csv("data/mexico-real-estate-3.csv")

# Print object type and shape for DataFrames
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
print()
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
print()
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)

Clean df1

Now that you have your three DataFrames, it's time to inspect them to see if they need any cleaning. Let's look at them one-by-one.

#Task 1.2.2: Inspect df1 by looking at its shape attribute. Then use the info method to see the data types and number of missing values for each column. Finally, use the head method to determine to look at the first five rows of your dataset.

#Inspect a DataFrame using the shape, info, and head in pandas.

In [ ]:
# Print df1 shape
df1.shape
# Print df1 info
df1.info
# Get output of df1 head
df1.head()

It looks like there are a couple of problems in this DataFrame that you need to solve. First, there are many rows with NaN values in the "lat" and "lon" columns. Second, the data type for the "price_usd" column is object when it should be float.

#Task 1.2.3: Clean df1 by dropping rows with NaN values. Then remove the "$" and "," characters from "price_usd" and recast the values in the column as floats.

What's a data type?

Drop rows with missing values from a DataFrame using pandas.

Replace string characters in a column using pandas.

In [ ]:
# Drop null values from df1
# remove nan values
df1.dropna(inplace=True)
# Clean "price_usd" column in df1


# Transform price from object to float
df1["price_usd"] = (df1["price_usd"]
                    .str.replace("$", "", regex=False)
                    .str.replace(",", "", regex=False)
                    .astype(float)
                   )

# Print object type, shape, and head
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
df1.head()

Now it's time to tackle df2. Take a moment to inspect it using the same commands you used before. You'll notice that it has the same issue of NaN values, but there's a new problem, too: The home prices are in Mexican pesos ("price_mxn"), not US dollars ("price_usd"). If we want to compare all the home prices in this dataset, they all need to be in the same currency.

#Task 1.2.4: First, drop rows with NaN values in df2. Next, use the "price_mxn" column to create a new column named "price_usd". (Keep in mind that, when this data was collected in 2014, a dollar cost 19 pesos.) Finally, drop the "price_mxn" from the DataFrame.

In [ ]:
# Drop null values from df2
# Remove 'NaN' values
df2.dropna(inplace=True)
# Create "price_usd" column for df2 (19 pesos to the dollar in 2014)


# Create a "price_usd" col
df2["price_usd"] = (df2["price_mxn"] / 19).round(2)

# Drop "price_mxn" col
df2.drop(columns=["price_mxn"], inplace=True)



# Drop "price_mxn" column from df2

# Print object type, shape, and head
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
df2.head()

Great work! We're now on the final DataFrame. Use the same shape, info and head commands to inspect the df3. Do you see any familiar issues?

You'll notice that we still have NaN values, but there are two new problems:

Instead of separate "lat" and "lon" columns, there's a single "lat-lon" column.
Instead of a "state" column, there's a "place_with_parent_names" column.
We need the resolve these problems so that df3 has the same columns in the same format as df1 and df2.

#Task 1.2.5: Drop rows with NaN values in df3. Then use the split method to create two new columns from "lat-lon" named "lat" and "lon", respectively.

In [ ]:
# Drop 'NaN' rows
df3.dropna(inplace=True)
# Create "lat" and "lon" columns for df3
# Split "lat-lon"
df3[["lat", "lon"]] = df3["lat-lon"].str.split(",", expand=True)



# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()

#df3 extracting state

#Task 1.2.6: Use the split method again, this time to extract the state for every house. (Note that the state name always appears after "MÃ©xico|" in each string.) Use this information to create a "state" column. Finally, drop the "place_with_parent_names" and "lat-lon" columns from the DataFrame.

In [ ]:
# Create "state" col from "place_with_parent_names"
df3["state"] = df3["place_with_parent_names"].str.split("|", expand=True)[1]

# Drop "place_with_parent_names" and "lat-lon" from df3
df3.drop(columns=["place_with_parent_names", "lat-lon"], inplace=True)
# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()

#concentrate dataframe
#Task 1.2.7: Use pd.concat to concatenate df1, df2, df3 as new DataFrame named df. Your new DataFrame should have 1,736 rows and 6 columns:"property_type", "state", "lat", "lon", "area_m2", and "price_usd".

In [ ]:
# Concatenate df1, df2, and df3
df = pd.concat([df1,df2,df3])

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

#Task 1.2.8: Save df as a CSV file using the to_csv method. The file path should be "./data/mexico-real-estate-clean.csv". Be sure to set the index argument to False.

What's a CSV file?

In [ ]:
# Save df
df.to_csv("data/brasil-real-estate-clean.csv")

##*************Lesson 3****************##

##1.3. Exploratory Data Analysis

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
from IPython.display import VimeoVideo


After importing, the next step in many data science projects is exploratory
data analysis (EDA), where you get a feel for your data by summarizing its main characteristics using descriptive statistics and data visualization. A good way to plan your EDA is by looking each column and asking yourself questions what it says about your dataset.

#Task 1.3.1: Read the CSV file that you created in the last notebook ("../small-data/mexico-real-estate-clean.csv") into a DataFrame named df. Be sure to check that all your columns are the correct data type before you go to the next task.

In [ ]:
# Import "data/mexico-real-estate-clean.csv"
df = pd.read_csv("data/brasil-real-estate-clean.csv")

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

They say that the most important thing in real estate is location, and we can see where where in Mexico our houses are located by using the "lat" and "lon" columns. Since latitude and longitude are based on a coordinate system, a good way to visualize them is to create a scatter plot on top of a map. A great tool for this is the scatter_mapbox from the plotly library.

#Task 1.3.2: Add "lat" and "lon" to the code below, and run the code. You'll see a map that's centered on Mexico City, and you can use the "Zoom Out" button in the upper-right corner of the map so that you can see the whole country.

In [ ]:
# Use plotly express to create figure
fig = px.scatter_mapbox(
    df,  # Our DataFrame
    lat="lat",
    lon="lon",
    center={"lat": 19.43, "lon": -99.13},  # Map will be centered on Mexico City
    width=600,  # Width of map
    height=600,  # Height of map
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

# Add mapbox_style to figure layout
fig.update_layout(mapbox_style="open-street-map")

# Show figure
fig.show()

## Categorical Data: "state"
Even though we can get a good idea of which states are most common in our dataset from looking at a map, we can also get the exact count by using the "state" column.

# most common state

#Task 1.3.3: Use the value_counts method on the "state" column to determine the 10 most prevalent states in our dataset.

In [ ]:
df["state"].value_counts().head()

#Task 1.3.4: Use the describe method to print the mean, standard deviation, and quartiles for the "area_m2" and "price_usd" columns.

In [ ]:
# Describe "area_m2", "price_usd" columns
df[["area_m2","price_usd"]].describe()

Let's start by looking at "area_m2". It's interesting that the mean is larger than the median (another name for the 50% quartile). Both of these statistics are supposed to give an idea of the "typical" value for the column, so why is there a difference of almost 15 m2 between them? To answer this question, we need to see how house sizes are distributed in our dataset. Let's look at two ways to visualize the distribution: a histogram and a boxplot.

#Task 1.3.5: Create a histogram of "area_m2". Make sure that the x-axis has the label "Area [sq meters]", the y-axis has the label "Frequency", and the plot has the title "Distribution of Home Sizes".

In [ ]:
plt.hist(df["area_m2"])
plt.xlabel("Area [sq meters]")
plt.ylabel("Frequency")
plt.title("Distribution of Home Sizes");

#Task 1.3.6: Create a horizontal boxplot of "area_m2". Make sure that the x-axis has the label "Area [sq meters]" and the plot has the title "Distribution of Home Sizes". How is the distribution and its left skew represented differently here than in your histogram

In [ ]:
# Use Matplotlib to create boxplot of "area_m2"
plt.boxplot(df["area_m2"], vert=False)
# Add x-axis label
plt.xlabel("Area [sq meters]")
# Add title
plt.title("Distribution of Home Sizes");


#Task 1.3.7: Create a histogram of "price_usd". Make sure that the x-axis has the label "Price [USD]", the y-axis has the label "Frequency", and the plot has the title "Distribution of Home Prices".

In [ ]:
# Use Matplotlib to create histogram of "price_usd"
plt.hist(df["price_usd"])
# Add x-axis label
plt.xlabel("Price [USD]")
# Add y-axis label
plt.ylabel("Frequency")
# Add title
plt.title("Distribution of Home Prices");

# Task 1.3.8: Create a horizontal boxplot of "price_usd". Make sure that the x-axis has the label "Price [USD]" and the plot has the title "Distribution of Home Prices".

In [ ]:
# Use Matplotlib to create boxplot of "price_usd"


plt.boxplot(df["price_usd"], vert=False)
# Add x-axis label
plt.xlabel("Area [sq meters]")
# Add title
plt.title("Distribution of Home Sizes");

#**lesson 1.4. Location or Size: What Influences House Prices in Mexico?**

Task 1.4.1: Read the CSV file that you created in the last notebook ("data/mexico-real-estate-clean.csv") into a DataFrame named df. Be sure to check that all your columns are the correct data type before you go to the next task.

In [ ]:
# Import "data/mexico-real-estate-clean.csv"
df = pd.read_csv("data/brasil-real-estate-clean.csv")

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

Do housing prices vary by state? If so, which are the most expensive states for purchasing a home? During our exploratory data analysis, we used descriptive statistics like mean and median to get an idea of the "typical" house price in Mexico. Now, we need to break that calculation down by state and visualize the results.

We know in which state each house is located thanks to the "state" column. The next step is to divide our dataset into groups (one per state) and calculate the mean house price for each group.

#Task 1.4.2: Use the groupby method to create a Series named mean_price_by_state, where the index contains each state in the dataset and the values correspond to the mean house price for that state. Make sure your Series is sorted from highest to lowest mean price.

In [ ]:
# Declare variable `mean_price_by_state`
mean_price_by_state = df.groupby("state")["price_usd"].mean().sort_values(ascending=False)


# Print object type, shape, and head
print("mean_price_by_state type:", type(mean_price_by_state))
print("mean_price_by_state shape:", mean_price_by_state.shape)
mean_price_by_state.head()

# Task 1.4.3: Use mean_price_by_state to create a bar chart of your results. Make sure the states are sorted from the highest to lowest mean, that you label the x-axis as "State" and the y-axis as "Mean Price [USD]", and give the chart the title "Mean House Price by State".

In [ ]:
mean_price_by_state.plot(
    kind="bar",
    xlabel="State",
    ylabel="Price [USD]",
    title="Mean House Price by State"
);

**Task 1.4.4: Create a new column in df called "price_per_m2". This should be the price for each house divided by it's size**

In [ ]:
# Create "price_per_m2" column
df["price_per_m2"] = df["price_usd"]/df["area_m2"]

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

**Task 1.4.5: First, use the groupby method to create a Series where the index contains each state in the dataset and the values correspond to the mean house price per m2 for that state. Then use the Series to create a bar chart of your results. Make sure the states are sorted from the highest to lowest mean, that you label the x-axis as "State" and the y-axis as "Mean Price per M^2[USD]", and give the chart the title "Mean House Price per M^2 by State"**

In [ ]:
# Group `df` by "state", create bar chart of "price_per_m2"
df.groupby("state")["price_per_m2"].mean().sort_values(ascending=False).plot(
    kind="bar",
    xlabel="State",
    ylabel="Mean Price per M^2 [USD]",
    title="Mean House Price per M^2 by State"
);

From our previous question, we know that the location of a home affects its price (especially if it's in Mexico City), but what about home size? Does the size of a house influence price?

A scatter plot can be helpful when evaluating the relationship between two columns because it lets you see if two variables are correlated â€” in this case, if an increase in home size is associated with an increase in price.

**bold textTask 1.4.6: Create a scatter plot from df that represents price as a function of size. In other words, "area_m2" should be on the x-axis, and "price_usd" should be on the y-axis. Be sure to use expressive axis labels ("Area [sq meters]" and "Price [USD]", respectively).**

In [ ]:
# Create scatter plot of "price_usd" vs "area_m2"
plt.scatter(x=df["area_m2"], y=df["price_usd"])
# Add x-axis label

plt.xlabel("Area [sq meters]")
# Add y-axis label
plt.ylabel("Price [USD]")
# Add title


plt.title("Price vs Area");

**Task 1.4.7: Using the corr method, calculate the Pearson correlation coefficient for "area_m2" and "price_usd".**

In [ ]:
# Calculate correlation of "price_usd" and "area_m2"
p_correlation = df["area_m2"].corr(df["price_usd"])

# Print correlation coefficient
print("Correlation of 'area_m2' and 'price_usd' (all Mexico):", p_correlation)

**bold text Task 1.4.8: Create a new DataFrame named df_morelos. It should include all the houses from df that are in the state of Morelos.**

In [ ]:
# Declare variable `df_morelos` by subsetting `df`
df_morelos = df[df["state"] =="Morelos"]

# Print object type, shape, and head
print("df_morelos type:", type(df_morelos))
print("df_morelos shape:", df_morelos.shape)
df_morelos.head()

**bold text Task 1.4.9: Using df_morelos, create a scatter plot that shows price vs area. Make sure to use the same axis labels as your last scatter plot. The title should be "Morelos: Price vs. Area".**

In [ ]:
# Create scatter plot of "price_usd" vs "area_m2" in Morelos
plt.scatter(x=df_morelos["area_m2"], y=df_morelos["price_usd"])
# Add x-axis label
plt.xlabel("Area [sq meters]")
# Add y-axis label
plt.ylabel("Price [USD]")
# Add title
plt.title("Morelos: Price vs Area");

**bold text Task 1.4.10: Using the corr method, calculate the Pearson correlation coefficient for "area_m2" and "price_usd" in df_morelos.**

In [ ]:
# Calculate correlation of "price_usd" and "area_m2" in `df_morelos`
p_correlation = df_morelos["area_m2"].corr(df_morelos["price_usd"])

# Print correlation coefficient
print("Correlation of 'area_m2' and 'price_usd' (Morelos):", p_correlation)

**bold text Task 1.4.11: First, create a new DataFrame called df_mexico_city that includes all the observations from df that are part of the Distrito Federal. Next, create a scatter plot that shows price vs area. Don't forget to label the x- and y-axis and use the title "Mexico City: Price vs. Area". Finally, calculate the correlation coefficient for "area_m2" and "price_usd" in df_mexico_city.**

In [ ]:
import matplotlib.pyplot as plt

# Subset 'df' to include only rows where the state is "Distrito Federal"
df_mexico_city = df[df["state"] == "Distrito Federal"]

# Print object type and shape
print("df_mexico_city type:", type(df_mexico_city))
print("df_mexico_city shape:", df_mexico_city.shape)

# Create a scatter plot of area vs. price
plt.scatter(x=df_mexico_city["area_m2"], y=df_mexico_city["price_usd"])
plt.xlabel("Area [sq meters]")
plt.ylabel("Price [USD]")
plt.title("Mexico City: Price vs Area")
plt.show()  # <<< Needed to display the plot in some environments like Jupyter
# Calculate the correlation
p_correlation = df_mexico_city["area_m2"].corr(df_mexico_city["price_usd"])
print("Correlation of 'area_m2' and 'price_usd' (Mexico City):", p_correlation)

Looking at the scatter plot and correlation coefficient, there's see a weak relationship between size and price. How should we interpret this?

One interpretation is that the relationship we see between size and price in many states doesn't hold true in the country's biggest and most economically powerful urban center because there are other factors that have a larger influence on price. In fact, in the next project, we're going to look at another important Latin American city â€” Buenos Aires, Argentina â€” and build a model that predicts housing price by taking much more than size into account.

1
**Task 1.5.1 Import the CSV file data/brasil-real-estate-1.csv into the DataFrame df1.**

In [ ]:
df1 = pd.read_csv("data/brasil-real-estate-1.csv")
df1.head()


**Task 1.5.2 Drop all rows with NaN values from the DataFrame df1.**

In [ ]:
df1.dropna(inplace=True)
df1.head()

**Use the "lat-lon" column to create two separate columns in df1: "lat" and "lon". Make sure that the data type for these new columns is float.**

In [ ]:
df1[["lat", "lon"]] = df1["lat-lon"].str.split(",",expand=True)
df1["lat"] = df1["lat"].astype(float)
df1["lon"] = df1["lon"].astype(float)
df1.head()

**Use the "place_with_parent_names" column to create a "state" column for df1. (Note that the state name always appears after "|Brasil|" in each string.)**

In [ ]:
df1["state"] = df1["place_with_parent_names"].str.split("|" , expand=True)[2]
df1.head()

**Transform the "price_usd" column of df1 so that all values are floating-point numbers instead of strings.**

In [ ]:
df1["price_usd"] = (
    df1["price_usd"]
    .astype(str)                             # Ensure all values are strings
    .str.replace("$", "", regex=False)       # Remove dollar sign
    .str.replace(",", "", regex=False)       # Remove comma
    .astype(float)                           # Convert cleaned string to float
)
df1.head()

**Drop the "lat-lon" and "place_with_parent_names" columns from df1.**

In [ ]:
df1.drop(columns=["lat-lon", "place_with_parent_names"], errors="ignore", inplace=True)


df1.head()

**Import the CSV file brasil-real-estate-2.csv into the DataFrame df2.**

In [ ]:
df2=pd.read_csv("data/brasil-real-estate-2.csv")
df2 = df2.drop(columns=['Unnamed: 0'])
df2.head()

**Use the "price_brl" column to create a new column named "price_usd". (Keep in mind that, when this data was collected in 2015 and 2016, a US dollar cost 3.19 Brazilian reals.)**

In [ ]:
df2["price_brl"] = df2["price_usd"] /3.19
df2.head()

**Concatenate df1 and df2 to create a new DataFrame named df.t**

In [ ]:
# Step 1: Drop the 'price_brl' column
df2.drop(columns=["price_brl"], inplace=True)

# Step 2: Drop all rows that contain any NaN values
df2.dropna(inplace=True)

# Step 3: Confirm changes
print("Shape after cleanup:", df2.shape)
df2.head()

**Use the describe method to create a DataFrame summary_stats with the summary statistics for the "area_m2" and "price_usd" columns.**

In [ ]:
df = pd.concat([df1, df2], ignore_index=True)


print("df shape:", df.shape)

***Create a histogram of "price_usd". Make sure that the x-axis has the label "Price [USD]", the y-axis has the label "Frequency", and the plot has the title "Distribution of Home Prices". Use Matplotlib (plt)***

In [ ]:
fig = px.scatter_mapbox(
    df,
    lat="lat",
    lon="lon",
    center={"lat": -14.2, "lon": -51.9},  # Map will be centered on Brazil
    width=600,
    height=600,
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

fig.update_layout(mapbox_style="open-street-map")

fig.show()

In [ ]:
summary_stats = df[["area_m2","price_usd"]].describe()
summary_stats

Create a histogram of "price_usd". Make sure that the x-axis has the label "Price [USD]", the y-axis has the label "Frequency", and the plot has the title "Distribution of Home Prices". Use Matplotlib (plt).

In [ ]:
# Don't change the code below ðŸ‘‡
fig, ax = plt.subplots()

# Build histogram
ax.hist(df["price_usd"].head(20000), bins=10)

# Label axes
ax.set_xlabel("Price [USD]")
ax.set_ylabel("Frequency")

# Add title
ax.set_title("Distribution of Home Prices")

**Create a horizontal boxplot of "area_m2". Make sure that the x-axis has the label "Area [sq meters]"and the plot has the title "Distribution of Home Sizes". Use Matplotlib (plt).**

In [ ]:
# Don't change the code below ðŸ‘‡
fig, ax = plt.subplots()

# Build horizontal box plot
ax.boxplot(df["area_m2"].dropna(), vert=False)

# Label x-axis
ax.set_xlabel("Area [sq meters]")

# Add title
ax.set_title("Distribution of Home Sizes")

# Optional: Show the plot
plt.show()


**Task 1.5.14 Use the groupby method to create a Series named mean_price_by_region that shows the mean home price in each region in Brazil, sorted from smallest to largest.****

In [ ]:
mean_price_by_region = df.groupby("region")["price_usd"].mean().sort_values()
mean_price_by_region

15
#Task 1.5.15

**Use mean_price_by_region to create a bar chart. Make sure you label the x-axis as "Region" and the y-axis as "Mean Price [USD]", and give the chart the title "Mean Home Price by Region". Use pandas.**

In [ ]:
# Don't change the code below ðŸ‘‡
fig, ax = plt.subplots()

# Build bar chart, label axes, add title
mean_price_by_region.plot(kind='bar', ax=ax)
ax.set_xlabel("Region")
ax.set_ylabel("Mean Price [USD]")
ax.set_title("Mean Home Price by Region")

**Task 1.5.16Create a DataFrame df_south that contains all the homes from df that are in the "South" region.**

In [ ]:
df_south = df[df["region"] == "South"]
df_south.head()

**Task 1.5.17Use the value_counts method to create a Series homes_by_state that contains the number of properties in each state in df_south.**

In [ ]:
homes_by_state = df_south["state"].value_counts()
homes_by_state

18
Task 1.5.18

Create a scatter plot showing price vs. area for the state in df_south that has the largest number of properties. Be sure to label the x-axis "Area [sq meters]" and the y-axis "Price [USD]"; and use the title "<name of state>: Price vs. Area". Use Matplotlib (plt).

In [ ]:

# Step 1: Find the state with the most properties
top_state = df_south["state"].value_counts().idxmax()

# Step 2: Subset data for that state
df_south_rgs = df_south[df_south["state"] == top_state]

# Don't change the code below ðŸ‘‡
fig, ax = plt.subplots()

# Build scatter plot
ax.scatter(df_south_rgs["area_m2"], df_south_rgs["price_usd"])

# Label axes
ax.set_xlabel("Area [sq meters]")
ax.set_ylabel("Price [USD]")

# Add title
ax.set_title(f"{top_state}: Price vs. Area")

19
**Task 1.5.19**

Create a dictionary south_states_corr, where the keys are the names of the three states in the "South" region of Brazil, and their associated values are the correlation coefficient between "area_m2" and "price_usd" in that state.

As an example, here's a dictionary with the states and correlation coefficients for the Southeast region. Since you're looking at a different region, the states and coefficients will be different, but the structure of the dictionary will be the same.

In [ ]:
# Step 1: Get the list of states in the South region
south_states = df_south["state"].unique()

# Step 2: Calculate correlation for each state and build the dictionary
south_states_corr = {
    state: df_south[df_south["state"] == state]["area_m2"].corr(df_south[df_south["state"] == state]["price_usd"])
    for state in south_states
}

south_states_corr